<h2>{{title}}</h2>

@if(hasPermission(getCreatePermission())){
    <a routerLink="{{routeCreate}}" class="a-index button-icon button-green"><mat-icon>add</mat-icon>Crear {{title}}</a>
}

<app-list-generic [list]="entities">
    <ng-container container>
        <div class="table-crud">
            <table  mat-table [dataSource]="entities" class="mat-elevation-z8">
                @for(column of columnsToShow; track $index){
                    @if(column === 'acciones'){
                        <ng-container matColumnDef="acciones">
                            <th mat-header-cell *matHeaderCellDef>Acciones</th>
                            <td mat-cell *matCellDef="let element">
                                <app-authorized rol="admin">
                                    <ng-container authorized>
                                        <div class="table-buttons">
                                            
                                            @if(hasPermission(getEditPermission())){
                                                <a routerLink="{{routeEdit + '/' + element.id}}" class="button-mat-icon button-blue"><mat-icon>edit</mat-icon></a>
                                            }

                                            @if(hasPermission(getDeletePermission())){
                                                <button
                                                    type="button"
                                                    (click)="delete(element.id)"
                                                    class="button-mat-icon button-red"
                                                >
                                                <mat-icon>delete</mat-icon>
                                                </button>
                                            }
                                        </div>
                                    </ng-container>
                                </app-authorized>
                            </td>
                        </ng-container>
                    }@else{
                        <ng-container matColumnDef="{{column}}">
                            <th mat-header-cell *matHeaderCellDef>{{firstLetterUpperCase(column)}}</th>
                            <td mat-cell *matCellDef="let element">{{element[column]}}</td>
                        </ng-container>
                    }
                }
    
                <tr mat-header-row *matHeaderRowDef="columnsToShow"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToShow"></tr>
            </table>
    
            <mat-paginator
                showFirstLastButtons
                [length]="quantityTotalRecords"
                [pageIndex]="pagination.page - 1"
                [pageSize]="pagination.recordsPerPage"
                [pageSizeOptions]="[5, 10, 50]"
                class="mat-elevation-z8"
                (page)="updatePagination($event)"
            >
            </mat-paginator>
        </div>
    </ng-container>
</app-list-generic>