<app-edit-entity
    title="Editar Ingrediente"
    indexRoute="/ingredientes"
    [form]="ingredientForm"
    [id]="id"
>
</app-edit-entity>

<!-- <div class="container">
    <div class="form-container">

        <h2>Editar Ingrediente</h2>

        @if(ingredient) {
            <app-show-errors [errors]="errors" ></app-show-errors>
            <app-form-ingredients [model]="ingredient" (postForm)="save($event)" ></app-form-ingredients>
        }@else{
            <p>No existe ese ingrediente</p>
        }
    </div>
</div> -->