@if(!list){
    <div #loading>
        <ng-content select="[loading]"></ng-content>
    </div>

    @if(!loading.innerHTML.trim()){
        <div class="container-img-locading">
            <img class="img-loading" src="img/loading.gif" alt="Imagen cargando">
        </div>
    }
}@else if(list == 0) {
    <div #void>
        <ng-content select="[vacio]"></ng-content>
    </div>

    @if(!void.innerHTML.trim()){
        <div>
            <p>No hay elementos para mostrar</p>
        </div>
    }
}@else{
    <ng-content select="[container]" ></ng-content>
}