.form-login{
    margin-top: 2rem;
}

@media (min-width: 1120px) {
    .form-login{
        margin-top: 4rem;
    }
}

.login-button{

    display: block;
    width: 100%;

    padding: 1rem 2rem;
    border-radius: .5rem;
    border: none;

    color: white;
    font-weight: 600;
    font-size: 20px;
    text-align: center;

    margin-top: 2rem;
    cursor: pointer;
}

@media (min-width: 1120px) {
    .login-button{
        margin-top: 4rem;
    }
}

/* Quitar el fondo gris del botón */
button[mat-icon-button] {
    background-color: transparent; /* Eliminar fondo */
    border: none;
    cursor: pointer;
}