
<h3>Información del cliente</h3>

<form (submit)="save()" class="form" [formGroup]="form">
    <mat-form-field appearance="outline">
        <mat-label>Cliente:</mat-label>
        <input matInput type="text" [formControl]="form.controls.clientName">
        <mat-error>{{getNameErrors()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Télefono:</mat-label>
        <input matInput type="tel" [formControl]="form.controls.clientPhoneNumber">
    </mat-form-field>

    <mat-divider></mat-divider>

    @if(model.orderDetails.length > 0){
        <h3>Productos o Combos</h3>
        
        <div class="order-container-body">
            @for(item of model.orderDetails; track $index){
                <div class="order-container-body__product">

                    @if(item.itemType.toLowerCase() == 'product'){
                        <div class="order-container-body__product__img">
                            <!-- <img src="/img/imgProducts/pizzaAlemana.jpg" alt="img-product"> -->
                            <img [src]="getProductValue(item.itemId, 'image')" alt="img-product">
                        </div>
                    }@else if(item.itemType.toLowerCase() == 'combo'){
                        <div class="order-container-body__product__img img-combo">
                            <img [src]="getComboValue(item.itemId, 'image')" alt="img-combo">
                        </div>
                    }

                    <div class="order-container-body__product__info">
                        
                        @if(item.itemType.toLowerCase() == 'product'){
                            <div class="order-container-body__product__info__item">
                                <div class="order-container-body__product__info__item__info">
                                    <h3>{{getProductValue(item.itemId, 'name')}}</h3>
                                    <p>{{formatPrice(+getProductValue(item.itemId, 'price'))}}</p>
                                </div>
    
                                <div class="order-container-body__product__info__item__button">
                                    <button type="button" (click)="removeItemFromOrder($event, $index)"><mat-icon>close</mat-icon></button>
                                </div>
                            </div>
                        }@else if(item.itemType.toLowerCase() == 'combo'){

                            <div class="order-container-body__product__info__item">
                                <div class="order-container-body__product__info__item__info">
                                    <h3>{{getComboValue(item.itemId, 'name')}}</h3>
                                    <p>{{formatPrice(+getComboValue(item.itemId, 'price'))}}</p>
                                </div>

                                <div class="order-container-body__product__info__item__button">
                                    <button type="button" (click)="removeItemFromOrder($event, $index)"><mat-icon>close</mat-icon></button>
                                </div>
                            </div>
                        }

                        @if(item.orderDetailsIngredients.length > 0){
                            <div class="order-container-body__product__info__extra">
                                <h4>Extra</h4>
                                <ol>
                                    @for(ingredient of item.orderDetailsIngredients; track $index){
                                        @if(ingredient.ingredientId){
                                            <li>
                                                <div class="ingredient-container">
                                                    <div>
                                                        {{ getIngredientValue(ingredient.ingredientId, 'name') }}
                                                        -
                                                        <span>{{ formatPrice(+getIngredientValue(ingredient.ingredientId, 'price')) }}</span>
                                                    </div>
    
                                                    <div>
                                                        <button type="button" (click)="removeIngredientFromOrderDetails($event, item, $index)"><mat-icon>close</mat-icon></button>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ol>
                            </div>
                        }

                        <!-- Botón para agregar ingredientes -->
                        <button type="button" class="button button-blue" (click)="openIngredientsModal($event, item)">Agregar Ingrediente </button>

                    </div>
                </div>

                @if(!$last){
                    <mat-divider></mat-divider>
                }
            }
        </div>
    }@else{
        <p>No hay productos ni combos agregados</p>
    }

    <mat-divider></mat-divider>

    <h3>Estatus de la orden</h3>

    <mat-form-field appearance="outline">
        <mat-label>Estatus</mat-label>
        <mat-select [formControl]="form.controls.statusId">
            @for(item of status; track $index){
                <mat-option [value]="item.id">{{item.name}}</mat-option>
            }
        </mat-select>
        <mat-error>{{getStatusErrors()}}</mat-error>
    </mat-form-field>

    <mat-divider></mat-divider>

    <div class="container-total">
        <h4>Total: <span>{{formatPrice(form.controls.total.value || 0)}}</span></h4>
    </div>

    <div class="buttons-container">
        <button type="submit" class="button button-green">Guardar</button>
        <button type="button" class="button button-red" (click)="closeModal()">Cancelar</button>
    </div>
</form>