.modal{
    height: 40rem;
}
.container{
    padding: 0 1rem 2rem 1rem;
}
.container h2{
    margin: 0 0 1rem 0;
    text-align: center;
}
.container-button{
    display: flex;
    justify-content: end;
    margin: 1rem;
}
.container-button button{
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
}